<div class="small-4 large-6 columns">
    <p style="height:29px">
        <a href="http://www.vimeo.com" target="_blank">
            <img src="https://f.vimeocdn.com/logo.svg">
        </a>
    </p>

    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-2">
        {% for videoVimeo in resultadoVimeo.videos %}
        <li>
            <a class="th" href="{{ videoVimeo.link }}">
                <img src="{{ videoVimeo.urlThumbNail }}">
            </a>
            <a href="{{ videoVimeo.link }}">
                {{ cortarString(videoVimeo.titulo, 28) }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <div class="row">
    <div id="divPaginarContainer" class="small-4 columns">
      <div id="divPaginar" class="row collapse prefix-round">
        <div class="large-6 columns">
            <a href="javascript:void(0)" data-link="{{ resultadoVimeo.paginacao.previous }}" class="linkPaginarVimeo button postfix {%if resultadoVimeo.paginacao.previous == '' %} disabled {% endif %}">
                <<
            </a>
        </div>
        <div class="large-6 columns">
            <a href="javascript:void(0)" data-link="{{ resultadoVimeo.paginacao.next }}" class="linkPaginarVimeo button postfix {%if resultadoVimeo.paginacao.next == '' %} disabled {% endif %}">
                >>  
            </a>
        </div>
      </div>
    </div>
</div>
<input type="hidden" id="query" value="{{ resultadoVimeo.query }}">
